body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.pagination {
  margin-top: 20px;
}

form {
  width: 500px;
  margin: auto;
  padding: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 200px; /* Adjust the width and height as needed */
  height: 200px;
  object-fit: cover;
}

.repository {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #e0f4ff;
  margin-bottom: 10px;
  width: 48%; /* Set the width for each repository item */
  margin: 1%; /* Add some margin to create space between items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#repositoriesContainer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}
